.i1{
    width: 120px;
    height: 100px;

  

    
}
.container-fluid{
    background-color:white;

}
#q1{
    margin-left: 270px;
  
 

}
.p1{
    margin-left: 20px;
}
.l1{
    margin-left: 20px;
}
.w2{
    margin-left: 20px;
}
.z1{
    padding: 20px;
}
.w3{
    margin-left: 20px;
}
.w4{
    margin-left: 20px;
}
.p2{
    padding: 20px;
}
.e1{
    margin-left: 20px;
}
.d1{
    margin-left: 20px;
}
.d2{
    margin-left: 20px;
}

    
